<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public_key</key>
	<data>
	YGgcu12rhSLLDTUvpKe3gbQFrHPex40xfkuSYt6FOlA=
	</data>
	<key>private_key</key>
	<data>
	NpJezdhWU8Vt0dQ2W1CgEFZCK0EUvECAYFgLNMBR3Xk=
	</data>
	<key>identifier</key>
	<string>f3edc95d-1d06-3e47-8a8a-6e9ff55ededc</string>
	<key>alt_irk</key>
	<data>
	u8s01fcfxQqF3VDyUSTp7w==
	</data>
</dict>
</plist>